<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a href="/" class="navbar-brand">GuiaPress</a>
    <ul class="navbar-nav me-auto">
        <li class="navbar-item">
            <a href="/admin/categories" class="nav-link">Categorias</a>
        </li>
        <li class="navbar-item">
            <a href="/admin/articles" class="nav-link">Artigos</a>
        </li>
        <li class="navbar-item">
            <a href="/admin/users" class="nav-link">Usuários</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="navbar-item ml-auto">
            <a href="/logout" class="nav-link">Logout</a>
        </li>
    </ul>
</nav>